In [1]:
import regdiffusion as rd

## Load data and configs

In [2]:
bl_data, bl_gt = rd.load_beeline(
    benchmark_data='mESC', 
    benchmark_setting='1000_STRING'
    )

configs = rd.DEFAULT_REGDIFFUSION_CONFIGS
configs['device'] = 'cuda'

## Quick run

In [3]:
model = rd.runRegDiffusion(bl_data.X, configs)
adj = model.get_adj()
print(rd.get_metrics(adj, bl_gt))

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████| 250/250 [00:07<00:00, 32.07it/s]

{'AUPR': 0.053093156935238535, 'AUPRR': 2.496555580049126, 'EP': 789, 'EPR': 4.375574247447691}

In [4]:
tf_mask = bl_gt['tf_mask']
rd.extract_edges(adj, bl_data.var_names, 
                 TFmask=tf_mask, threshold=0.001)

           Source    Target  EdgeWeight  AbsEdgeWeight
0       HIST1H2BK  HIST1H1D    0.010461       0.010461
1       HIST1H2BL  HIST1H1D    0.010274       0.010274
2        HIST1H1B  HIST1H1D    0.010242       0.010242
3       HIST1H2AC  HIST1H1D    0.010118       0.010118
4        HIST1H1D  HIST1H1B    0.010067       0.010067
...           ...       ...         ...            ...
163067      SIRT1     CDC5L    0.001000       0.001000
163068       TPM1      LHX2    0.001000       0.001000
163069      MAPK8      YAF2    0.001000       0.001000
163070       ODC1      XAB2    0.001000       0.001000
163071       CALU      SOS2    0.001000       0.001000

[163072 rows x 4 columns]

## (Optional) Run with logger

It's also possible to run RegDiffusion with a logger to better diagnois what's going on in the model.

In [5]:
logger = rd.LightLogger()

model = rd.runRegDiffusion(bl_data.X, configs, ground_truth=bl_gt, logger=logger)

logger.to_df()[['steps', 'AUPRR', 'EPR']]

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████| 250/250 [00:08<00:00, 28.74it/s]

   steps     AUPRR       EPR
0      0  1.026962  1.242242
1      1  1.184298  1.502891
2      2  1.402084  2.124011
3      3  1.563686  2.567669
4      4  1.777903  3.127787
5      5  1.991848  3.504896
6      6  2.117158  3.732271
7      7  2.171811  3.815456
8      8  2.220999  3.887551
9      9   2.27744  3.954099
10    10  2.307148   4.07056
11    11   2.35068  4.153745
12    12  2.375434  4.181474
13    13  2.386913  4.120471
14    14  2.394097  4.120471
15    15  2.404988  4.159291
16    16  2.428281  4.231385
17    17  2.433784  4.214748
18    18  2.473145  4.281297
19    19  2.481391  4.325663
20    20  2.478443  4.358937
21    21   2.47505  4.336754
22    22  2.482167   4.38112
23    23  2.492969  4.425486
24    24  2.492812  4.447669